@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lora:wght@600&family=Roboto+Mono&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: rgb(240, 240, 240);
  margin: 0
}
h1, h2 {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  color: rgb(65, 41, 78);
  font-size: 20px;
}

.container {
  margin: 0 auto;

}

.card {
  text-align: center;
  width: 600px;
  margin: 48px auto;
  padding: 32px;
  background-color: white;
  box-shadow: 0 0 16px rgb(0 0 0 / 10%);
  text-align: center;
  border-radius: 4px;
}

.btn-blue {
  display: inline-block;
  border-radius: 4px;
  background-color: red;

}
.btn-blue:hover {
  background-color: #54C6EB;
  color: red;
  transition: 1s;
}

.logo{
  width: 160px;
  height: 190px;
  object-fit: cover;
  box-shadow: 0 0 8px rgb(0 0 0 / 30%);
}

.list-icons {
  list-style: none;
  padding: 0;
}
.list-icons li {
  display: inline;
  font-size: 32px;

}

@media (max-width: 960px) {

  .container {
    width: 700px;
  }
  .card {
    width: 500px:
  }
  }

  @media (max-width: 720px) {

    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
    .card {
      width: 300px;
    }
  }

  @media (max-width: 540px) {

    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
    .card {
      width: 200px:
    }
  }
